*.tar.gz
engine.war
etl.war
mgmt.war
retrieval.war
#*
*#
.#*
*~
epicsarchiverap
epicsarchiverap-*
epicsarchiverap_*
mariadb-connector*
*.out
*.log
*-eps-converted-to.pdf
*.cookie
*.aux
*.log
*.d
*.toc
*.lof
*.lot
*.bbl
*.blg
*.out
*.ind
*.ilg
*.fls
*.idx
*.dvi
*.ps
*.tmp
*.temp
*.cookie
*~
*.make
*.gz
*.txsprofile
doc_*
*.acn
*.acr
*.alg
*.ist
*.nav
*.snm
#*
*.jar
db
test*
